body {
    margin: 0;
    background-color: black; /* Background color of space */
    position: relative;
  color: white;
  
}
.container {
 
  margin-bottom: 5.5vw;
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
  color: #bb14fe;
font-family: space;
  padding: 17vw;
}
@font-face{
  font-family: space;
  src: url("space.ttf");
}

.names {
    position: relative;
  z-index: 2;
   width: 20vw;
    height: 20vw;
}

.name {
    position: absolute;
    font-size: 5.6vw;
    text-align: center;


}
.projects{

    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  color: #bb14fe;
  font-size: 4vw;
 
}
.p1{
  content:" ";
  background-image: url('binary.png');
  width: 42vw;
  height: 26vw;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
}
.p1t{
    position: absolute;
    /* Center on the screen (help from ChatGPT) */  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  /* End centering code */
    width: 42vw;
    height: 26vw;
    background-color: rgba(255, 255, 255, 0.9);
    color: #bb14fe;
  /* Help from Hinkle */
  box-sizing: border-box;
  padding: 3vw;
   font-size: 2vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.p1:hover div.p1t{
 opacity: 1;
}
.star {
    position: fixed;
  pointer-events:none;
    width: 0.2vw;
    height: 0.2vw;
    background-color: white;
    border-radius: 50%;

}

@keyframes twinkle {
    0% {
        opacity: 1;
      scale: 1.1
    }
    100% {
        opacity: 0.1;
      scale: 0.8
    }
}
#planet-container {
   margin-top: 17vw;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; 
  justify-content: center;
}
#planet-container img {
  position: relative;
  width: 17vw;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.grid{
  display: flex;
  grid-template-areas: 
    "planet1" "container" "planet2";
}
.custom-cursor {
  cursor: url('curser.png'), auto;
}
.about-title{
  font-size: 4vw;
  color: #bb14fe;
   
}
.about{

    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  color: #bb14fe;
  font-size: 3vw;
  padding: 6vw;

}
.license{
  font-size: 0.8vw;
  display: flex;
  justify-content: center;
  
}
.about-title{
    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  color: #bb14fe;
  font-size: 4vw;

  
}