body {
    margin: 0;
    background-color: black; /* Background color of space */
    position: relative;
  color: white;
  cursor: none;
  
}
.container {
 
  margin-bottom: 5.5vw;
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
  color: #bb14fe;
font-family: space;
  padding: 17vw;
}
@font-face{
  font-family: space;
  src: url("space.ttf");
}
@font-face{
  font-family: header;
  src: url("heading.otf");
}
@font-face{
  font-family: content;
  src: url("content.otf");
}
.names {
    position: relative;
  z-index: 2;
   width: 20vw;
    height: 20vw;
}

.name {
    position: absolute;
    font-size: 5.6vw;
    text-align: center;


}
.projects{
    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  color: #bb14fe;
  font-size: 4vw;

 position: relative;
}
h1 {
  font-family: 'header';
}
.slide {
    display: none;
    width: 100%;
    height: 400px; /* Adjust this to the desired height */
    background-size: cover;
    background-position: center;
}

/* Style for the previous and next arrow buttons */
.prev, .next {
    position: absolute;
    top: 90%;
   
    cursor: pointer;
  color: #bb14fe;
  z-index: 2;
  font-size: 4vw
}

.prev {
    left: 0;
  margin-left: 22vw;
}

.next {
    right: 0;
   margin-right: 22vw;
}
.p1{
  content:" ";
  background-image: url('/projects/portfolio.png');
  width: 42vw;
  height: 26vw;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  font-family: 'content';
}
.p1t{
    position: absolute;
    /* Center on the screen (help from ChatGPT) */  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  /* End centering code */
    width: 42vw;
    height: 26vw;
    background-color: rgba(255, 255, 255, 0.9);
    color: #bb14fe;
  /* Help from Hinkle */
  box-sizing: border-box;
  padding: 3vw;
   font-size: 2vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.p2{
  content:" ";
  background-image: url('/projects/binary.png');
  width: 42vw;
  height: 26vw;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  font-family: 'content';
}
.p2t{
    position: absolute;
    /* Center on the screen (help from ChatGPT) */  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  /* End centering code */
    width: 42vw;
    height: 26vw;
    background-color: rgba(255, 255, 255, 0.9);
    color: #bb14fe;
  /* Help from Hinkle */
  box-sizing: border-box;
  padding: 3vw;
   font-size: 2vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.p3{
  content:" ";
  background-image: url('/projects/hangman.png');
  width: 42vw;
  height: 26vw;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  font-family: 'content';
}
.p3t{
    position: absolute;
    /* Center on the screen (help from ChatGPT) */  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  /* End centering code */
    width: 42vw;
    height: 26vw;
    background-color: rgba(255, 255, 255, 0.9);
    color: #bb14fe;
  /* Help from Hinkle */
  box-sizing: border-box;
  padding: 3vw;
   font-size: 2vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    overflow-y: scroll;
}

.star {
    position: fixed;
  pointer-events:none;
    width: 0.2vw;
    height: 0.2vw;
    background-color: white;
    border-radius: 50%;

}

@keyframes twinkle {
    0% {
        opacity: 1;
      scale: 1.1
    }
    100% {
        opacity: 0.1;
      scale: 0.8
    }
}
#planet-container {
   margin-top: 17vw;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; 
  justify-content: center;
}
#planet-container img {
  position: relative;
  width: 17vw;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.grid{
  display: flex;
  grid-template-areas: 
    "planet1" "container" "planet2";
}
.custom-cursor {
  cursor: url('curser.png'), auto;
}
.about-title{
  font-size: 4vw;
  color: #bb14fe;
   
}
.about{

    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  color: #bb14fe;
  font-size: 3vw;
  padding: 6vw;

}
.license{
  font-size: 0.8vw;
  display: flex;
  justify-content: center;
  
}
.about-title{
    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  color: #bb14fe;
  font-size: 4vw;

  
}
.prev:hover,
.next:hover {
  transform: scale(1.2); /* Scale the element to 120% of its original size on hover */
}
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  font-size: 0.7vw;
}

.p4{
  content:" ";
  background-image: url('/projects/image-filters.png');
  width: 42vw;
  height: 26vw;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  font-family: 'content';
}
.p4t{
    position: absolute;
    /* Center on the screen (help from ChatGPT) */  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  /* End centering code */
    width: 42vw;
    height: 26vw;
    background-color: rgba(255, 255, 255, 0.9);
    color: #bb14fe;
  /* Help from Hinkle */
  box-sizing: border-box;
  padding: 3vw;
   font-size: 2vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    overflow-y: scroll;
}

.slide .slide-text {
  opacity: 0;
}
.slide:hover .slide-text,
.slide.active .slide-text {
  opacity: 1;
}
.cursor {
  position: fixed;
  width: 32px; /* Adjust width of the cursor image */
  height: 32px; /* Adjust height of the cursor image */
  background-image: url('cursor.png'); /* Path to your cursor image */
  background-size: cover;

  z-index: 9999; /* Ensure it's above other elements */
}
.p5{
  content:" ";
  background-image: url('/projects/data.png');
  width: 42vw;
  height: 26vw;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  font-family: 'content';
}
.p5t{
  position: absolute;
  /* Center on the screen (help from ChatGPT) */  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/* End centering code */
  width: 42vw;
  height: 26vw;
  background-color: rgba(255, 255, 255, 0.9);
  color: #bb14fe;
/* Help from Hinkle */
box-sizing: border-box;
padding: 3vw;
 font-size: 2vw;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  overflow-y: scroll;
}
